header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: #f0f8ff;
	padding: 20px 0;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

body {
	font-family: Comic sans ms, sans-serif;
	background-color: #f0f8ff;
	color: #333;
	text-align: left;
	padding: 80px;
}
body.home-page {
	padding-right: 200px;
	padding-left: 220px;
}

.hamburger {
	position: fixed;
	top: 10px;
	left: 15px;
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	background: none;
	border: block;
	border-radius: 8px;
	cursor: pointer;
	padding: 3px;
	z-index: 20;
	transition: transform 1s;
}
.hamburger span {
	display: block;
	height: 4px;
	background-color: #333;
	border-radius: 2px;
	transition: 0.3s all;
}
.hamburger.active span:nth-child(1) {
	transform: rotate(45deg) translate(5.5px, 5.6875px);
}
.hamburger.active span:nth-child(2) {
	opacity: 0;
}
.hamburger.active span:nth-child(3) {
	transform: rotate(-45deg) translate(5.5px, -5.6875px);
}

.dropdown {
	position: absolute;
	top: 15px;
	left: 15px;
}
.dropdown-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	background-color: #f0f8ff;
	z-index: 10;
	text-align: center;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
	border-radius: 0;
	overflow-y: auto;
	padding-top: 60px;
	
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 1s ease, opacity 1s ease;
	pointer-events: none;
}
.dropdown-content.show {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}
.dropdown-content a {
	display: block;
	color: black;
	padding: 15px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
}
.dropdown-content a:hover {
	background-color: #e0f2ff;
}

.show {
	display: block;
}

.moving-text {
	position: relative;
	margin-left: 0;
	transition: margin-left 1s ease;
}
.dropdown-content.show ~ .moving-text {
	margin-left: 200px;
}

.spaced-h1 {
	margin-top: 0;
	margin-bottom: 5px;
}
.spaced-h3 {
	margin-top: 0;
	margin-bottom: 5px;
}
.spaced-h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-image-Avatar {
	float: right;
	width: 175px;
	height: auto;
	margin: 0 0 20px 20px;
	border-radius: 10px;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 4px;
}
/*
.light-bulb {
	width: 65px;
	height: auto;
}
*/
.text-logo {
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	display: flex;
}
.text-logo span:hover {
	filter: brightness(1.3);
	transition: 0.3s;
}

.green {
	color: #00aa55;
}
.orange {
	color: #ff5e40;
}